/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body {
  background-color: #efefef;
}
/* line 10, ../sass/screen.scss */
body strong {
  color: #ab0000;
  line-height: 2em;
}
/* line 15, ../sass/screen.scss */
body #container {
  padding: 10px;
}
/* line 18, ../sass/screen.scss */
body #container #login #login-inner-contents {
  padding: 4%;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: -10px -10px 10px #f3f3f3, 10px 10px 10px #e6e6e6;
}
/* line 24, ../sass/screen.scss */
body #container #login #login-inner-contents label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1em;
}
/* line 30, ../sass/screen.scss */
body #container #login #login-inner-contents label input {
  width: calc(100% - 10em);
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
/* line 37, ../sass/screen.scss */
body #container #login #login-inner-contents label span {
  width: 8em;
}
/* line 40, ../sass/screen.scss */
body #container #login #login-inner-contents #saveIdWrap {
  display: flex;
  align-items: center;
}
/* line 43, ../sass/screen.scss */
body #container #login #login-inner-contents #saveIdWrap input {
  width: auto;
}
/* line 47, ../sass/screen.scss */
body #container #login #login-inner-contents input,
body #container #login #login-inner-contents button {
  margin-right: 1em;
}
/* line 55, ../sass/screen.scss */
body #container #main-nav ul {
  display: flex;
  list-style-type: none;
}
/* line 58, ../sass/screen.scss */
body #container #main-nav ul li {
  margin-left: 2em;
}
/* line 66, ../sass/screen.scss */
body * {
  box-sizing: border-box;
}
/* line 69, ../sass/screen.scss */
body a {
  color: lightseagreen;
}
/* line 72, ../sass/screen.scss */
body .flex-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
/* line 80, ../sass/screen.scss */
body .flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 88, ../sass/screen.scss */
body .flex-jc-sb {
  justify-content: space-between;
}
/* line 91, ../sass/screen.scss */
body .flex-jc-fs {
  justify-content: flex-start;
}
/* line 94, ../sass/screen.scss */
body .flex-jc-fe {
  justify-content: flex-end;
}
/* line 97, ../sass/screen.scss */
body .flex-jc-center {
  justify-content: center;
}
/* line 100, ../sass/screen.scss */
body .flex-3 {
  flex-shrink: 0;
  -ms-align-items: center;
  align-items: center;
}
/* line 106, ../sass/screen.scss */
body .flex-ai-fend {
  -ms-align-items: flex-end;
  align-items: flex-end;
}
/* line 110, ../sass/screen.scss */
body .flex-ai-fstart {
  -ms-align-items: flex-start;
  align-items: flex-start;
}
/* line 114, ../sass/screen.scss */
body .flex-ai-center {
  -ms-align-items: center;
  align-items: center;
}
/* line 118, ../sass/screen.scss */
body .flex-item {
  /*flex: 1;*/
  margin-left: 2%;
}
/* line 122, ../sass/screen.scss */
body .flex-item:first-child {
  margin-left: 0;
}
/* line 126, ../sass/screen.scss */
body .gitter {
  padding: 0 1%;
}
/* line 130, ../sass/screen.scss */
body .fixed {
  position: fixed;
}
/* line 135, ../sass/screen.scss */
body .w1p {
  width: calc(1% * 1) !important;
}
/* line 138, ../sass/screen.scss */
body .h1p {
  height: calc(1% * 1) !important;
}
/* line 135, ../sass/screen.scss */
body .w2p {
  width: calc(1% * 2) !important;
}
/* line 138, ../sass/screen.scss */
body .h2p {
  height: calc(1% * 2) !important;
}
/* line 135, ../sass/screen.scss */
body .w3p {
  width: calc(1% * 3) !important;
}
/* line 138, ../sass/screen.scss */
body .h3p {
  height: calc(1% * 3) !important;
}
/* line 135, ../sass/screen.scss */
body .w4p {
  width: calc(1% * 4) !important;
}
/* line 138, ../sass/screen.scss */
body .h4p {
  height: calc(1% * 4) !important;
}
/* line 135, ../sass/screen.scss */
body .w5p {
  width: calc(1% * 5) !important;
}
/* line 138, ../sass/screen.scss */
body .h5p {
  height: calc(1% * 5) !important;
}
/* line 135, ../sass/screen.scss */
body .w6p {
  width: calc(1% * 6) !important;
}
/* line 138, ../sass/screen.scss */
body .h6p {
  height: calc(1% * 6) !important;
}
/* line 135, ../sass/screen.scss */
body .w7p {
  width: calc(1% * 7) !important;
}
/* line 138, ../sass/screen.scss */
body .h7p {
  height: calc(1% * 7) !important;
}
/* line 135, ../sass/screen.scss */
body .w8p {
  width: calc(1% * 8) !important;
}
/* line 138, ../sass/screen.scss */
body .h8p {
  height: calc(1% * 8) !important;
}
/* line 135, ../sass/screen.scss */
body .w9p {
  width: calc(1% * 9) !important;
}
/* line 138, ../sass/screen.scss */
body .h9p {
  height: calc(1% * 9) !important;
}
/* line 135, ../sass/screen.scss */
body .w10p {
  width: calc(1% * 10) !important;
}
/* line 138, ../sass/screen.scss */
body .h10p {
  height: calc(1% * 10) !important;
}
/* line 135, ../sass/screen.scss */
body .w11p {
  width: calc(1% * 11) !important;
}
/* line 138, ../sass/screen.scss */
body .h11p {
  height: calc(1% * 11) !important;
}
/* line 135, ../sass/screen.scss */
body .w12p {
  width: calc(1% * 12) !important;
}
/* line 138, ../sass/screen.scss */
body .h12p {
  height: calc(1% * 12) !important;
}
/* line 135, ../sass/screen.scss */
body .w13p {
  width: calc(1% * 13) !important;
}
/* line 138, ../sass/screen.scss */
body .h13p {
  height: calc(1% * 13) !important;
}
/* line 135, ../sass/screen.scss */
body .w14p {
  width: calc(1% * 14) !important;
}
/* line 138, ../sass/screen.scss */
body .h14p {
  height: calc(1% * 14) !important;
}
/* line 135, ../sass/screen.scss */
body .w15p {
  width: calc(1% * 15) !important;
}
/* line 138, ../sass/screen.scss */
body .h15p {
  height: calc(1% * 15) !important;
}
/* line 135, ../sass/screen.scss */
body .w16p {
  width: calc(1% * 16) !important;
}
/* line 138, ../sass/screen.scss */
body .h16p {
  height: calc(1% * 16) !important;
}
/* line 135, ../sass/screen.scss */
body .w17p {
  width: calc(1% * 17) !important;
}
/* line 138, ../sass/screen.scss */
body .h17p {
  height: calc(1% * 17) !important;
}
/* line 135, ../sass/screen.scss */
body .w18p {
  width: calc(1% * 18) !important;
}
/* line 138, ../sass/screen.scss */
body .h18p {
  height: calc(1% * 18) !important;
}
/* line 135, ../sass/screen.scss */
body .w19p {
  width: calc(1% * 19) !important;
}
/* line 138, ../sass/screen.scss */
body .h19p {
  height: calc(1% * 19) !important;
}
/* line 135, ../sass/screen.scss */
body .w20p {
  width: calc(1% * 20) !important;
}
/* line 138, ../sass/screen.scss */
body .h20p {
  height: calc(1% * 20) !important;
}
/* line 135, ../sass/screen.scss */
body .w21p {
  width: calc(1% * 21) !important;
}
/* line 138, ../sass/screen.scss */
body .h21p {
  height: calc(1% * 21) !important;
}
/* line 135, ../sass/screen.scss */
body .w22p {
  width: calc(1% * 22) !important;
}
/* line 138, ../sass/screen.scss */
body .h22p {
  height: calc(1% * 22) !important;
}
/* line 135, ../sass/screen.scss */
body .w23p {
  width: calc(1% * 23) !important;
}
/* line 138, ../sass/screen.scss */
body .h23p {
  height: calc(1% * 23) !important;
}
/* line 135, ../sass/screen.scss */
body .w24p {
  width: calc(1% * 24) !important;
}
/* line 138, ../sass/screen.scss */
body .h24p {
  height: calc(1% * 24) !important;
}
/* line 135, ../sass/screen.scss */
body .w25p {
  width: calc(1% * 25) !important;
}
/* line 138, ../sass/screen.scss */
body .h25p {
  height: calc(1% * 25) !important;
}
/* line 135, ../sass/screen.scss */
body .w26p {
  width: calc(1% * 26) !important;
}
/* line 138, ../sass/screen.scss */
body .h26p {
  height: calc(1% * 26) !important;
}
/* line 135, ../sass/screen.scss */
body .w27p {
  width: calc(1% * 27) !important;
}
/* line 138, ../sass/screen.scss */
body .h27p {
  height: calc(1% * 27) !important;
}
/* line 135, ../sass/screen.scss */
body .w28p {
  width: calc(1% * 28) !important;
}
/* line 138, ../sass/screen.scss */
body .h28p {
  height: calc(1% * 28) !important;
}
/* line 135, ../sass/screen.scss */
body .w29p {
  width: calc(1% * 29) !important;
}
/* line 138, ../sass/screen.scss */
body .h29p {
  height: calc(1% * 29) !important;
}
/* line 135, ../sass/screen.scss */
body .w30p {
  width: calc(1% * 30) !important;
}
/* line 138, ../sass/screen.scss */
body .h30p {
  height: calc(1% * 30) !important;
}
/* line 135, ../sass/screen.scss */
body .w31p {
  width: calc(1% * 31) !important;
}
/* line 138, ../sass/screen.scss */
body .h31p {
  height: calc(1% * 31) !important;
}
/* line 135, ../sass/screen.scss */
body .w32p {
  width: calc(1% * 32) !important;
}
/* line 138, ../sass/screen.scss */
body .h32p {
  height: calc(1% * 32) !important;
}
/* line 135, ../sass/screen.scss */
body .w33p {
  width: calc(1% * 33) !important;
}
/* line 138, ../sass/screen.scss */
body .h33p {
  height: calc(1% * 33) !important;
}
/* line 135, ../sass/screen.scss */
body .w34p {
  width: calc(1% * 34) !important;
}
/* line 138, ../sass/screen.scss */
body .h34p {
  height: calc(1% * 34) !important;
}
/* line 135, ../sass/screen.scss */
body .w35p {
  width: calc(1% * 35) !important;
}
/* line 138, ../sass/screen.scss */
body .h35p {
  height: calc(1% * 35) !important;
}
/* line 135, ../sass/screen.scss */
body .w36p {
  width: calc(1% * 36) !important;
}
/* line 138, ../sass/screen.scss */
body .h36p {
  height: calc(1% * 36) !important;
}
/* line 135, ../sass/screen.scss */
body .w37p {
  width: calc(1% * 37) !important;
}
/* line 138, ../sass/screen.scss */
body .h37p {
  height: calc(1% * 37) !important;
}
/* line 135, ../sass/screen.scss */
body .w38p {
  width: calc(1% * 38) !important;
}
/* line 138, ../sass/screen.scss */
body .h38p {
  height: calc(1% * 38) !important;
}
/* line 135, ../sass/screen.scss */
body .w39p {
  width: calc(1% * 39) !important;
}
/* line 138, ../sass/screen.scss */
body .h39p {
  height: calc(1% * 39) !important;
}
/* line 135, ../sass/screen.scss */
body .w40p {
  width: calc(1% * 40) !important;
}
/* line 138, ../sass/screen.scss */
body .h40p {
  height: calc(1% * 40) !important;
}
/* line 135, ../sass/screen.scss */
body .w41p {
  width: calc(1% * 41) !important;
}
/* line 138, ../sass/screen.scss */
body .h41p {
  height: calc(1% * 41) !important;
}
/* line 135, ../sass/screen.scss */
body .w42p {
  width: calc(1% * 42) !important;
}
/* line 138, ../sass/screen.scss */
body .h42p {
  height: calc(1% * 42) !important;
}
/* line 135, ../sass/screen.scss */
body .w43p {
  width: calc(1% * 43) !important;
}
/* line 138, ../sass/screen.scss */
body .h43p {
  height: calc(1% * 43) !important;
}
/* line 135, ../sass/screen.scss */
body .w44p {
  width: calc(1% * 44) !important;
}
/* line 138, ../sass/screen.scss */
body .h44p {
  height: calc(1% * 44) !important;
}
/* line 135, ../sass/screen.scss */
body .w45p {
  width: calc(1% * 45) !important;
}
/* line 138, ../sass/screen.scss */
body .h45p {
  height: calc(1% * 45) !important;
}
/* line 135, ../sass/screen.scss */
body .w46p {
  width: calc(1% * 46) !important;
}
/* line 138, ../sass/screen.scss */
body .h46p {
  height: calc(1% * 46) !important;
}
/* line 135, ../sass/screen.scss */
body .w47p {
  width: calc(1% * 47) !important;
}
/* line 138, ../sass/screen.scss */
body .h47p {
  height: calc(1% * 47) !important;
}
/* line 135, ../sass/screen.scss */
body .w48p {
  width: calc(1% * 48) !important;
}
/* line 138, ../sass/screen.scss */
body .h48p {
  height: calc(1% * 48) !important;
}
/* line 135, ../sass/screen.scss */
body .w49p {
  width: calc(1% * 49) !important;
}
/* line 138, ../sass/screen.scss */
body .h49p {
  height: calc(1% * 49) !important;
}
/* line 135, ../sass/screen.scss */
body .w50p {
  width: calc(1% * 50) !important;
}
/* line 138, ../sass/screen.scss */
body .h50p {
  height: calc(1% * 50) !important;
}
/* line 135, ../sass/screen.scss */
body .w51p {
  width: calc(1% * 51) !important;
}
/* line 138, ../sass/screen.scss */
body .h51p {
  height: calc(1% * 51) !important;
}
/* line 135, ../sass/screen.scss */
body .w52p {
  width: calc(1% * 52) !important;
}
/* line 138, ../sass/screen.scss */
body .h52p {
  height: calc(1% * 52) !important;
}
/* line 135, ../sass/screen.scss */
body .w53p {
  width: calc(1% * 53) !important;
}
/* line 138, ../sass/screen.scss */
body .h53p {
  height: calc(1% * 53) !important;
}
/* line 135, ../sass/screen.scss */
body .w54p {
  width: calc(1% * 54) !important;
}
/* line 138, ../sass/screen.scss */
body .h54p {
  height: calc(1% * 54) !important;
}
/* line 135, ../sass/screen.scss */
body .w55p {
  width: calc(1% * 55) !important;
}
/* line 138, ../sass/screen.scss */
body .h55p {
  height: calc(1% * 55) !important;
}
/* line 135, ../sass/screen.scss */
body .w56p {
  width: calc(1% * 56) !important;
}
/* line 138, ../sass/screen.scss */
body .h56p {
  height: calc(1% * 56) !important;
}
/* line 135, ../sass/screen.scss */
body .w57p {
  width: calc(1% * 57) !important;
}
/* line 138, ../sass/screen.scss */
body .h57p {
  height: calc(1% * 57) !important;
}
/* line 135, ../sass/screen.scss */
body .w58p {
  width: calc(1% * 58) !important;
}
/* line 138, ../sass/screen.scss */
body .h58p {
  height: calc(1% * 58) !important;
}
/* line 135, ../sass/screen.scss */
body .w59p {
  width: calc(1% * 59) !important;
}
/* line 138, ../sass/screen.scss */
body .h59p {
  height: calc(1% * 59) !important;
}
/* line 135, ../sass/screen.scss */
body .w60p {
  width: calc(1% * 60) !important;
}
/* line 138, ../sass/screen.scss */
body .h60p {
  height: calc(1% * 60) !important;
}
/* line 135, ../sass/screen.scss */
body .w61p {
  width: calc(1% * 61) !important;
}
/* line 138, ../sass/screen.scss */
body .h61p {
  height: calc(1% * 61) !important;
}
/* line 135, ../sass/screen.scss */
body .w62p {
  width: calc(1% * 62) !important;
}
/* line 138, ../sass/screen.scss */
body .h62p {
  height: calc(1% * 62) !important;
}
/* line 135, ../sass/screen.scss */
body .w63p {
  width: calc(1% * 63) !important;
}
/* line 138, ../sass/screen.scss */
body .h63p {
  height: calc(1% * 63) !important;
}
/* line 135, ../sass/screen.scss */
body .w64p {
  width: calc(1% * 64) !important;
}
/* line 138, ../sass/screen.scss */
body .h64p {
  height: calc(1% * 64) !important;
}
/* line 135, ../sass/screen.scss */
body .w65p {
  width: calc(1% * 65) !important;
}
/* line 138, ../sass/screen.scss */
body .h65p {
  height: calc(1% * 65) !important;
}
/* line 135, ../sass/screen.scss */
body .w66p {
  width: calc(1% * 66) !important;
}
/* line 138, ../sass/screen.scss */
body .h66p {
  height: calc(1% * 66) !important;
}
/* line 135, ../sass/screen.scss */
body .w67p {
  width: calc(1% * 67) !important;
}
/* line 138, ../sass/screen.scss */
body .h67p {
  height: calc(1% * 67) !important;
}
/* line 135, ../sass/screen.scss */
body .w68p {
  width: calc(1% * 68) !important;
}
/* line 138, ../sass/screen.scss */
body .h68p {
  height: calc(1% * 68) !important;
}
/* line 135, ../sass/screen.scss */
body .w69p {
  width: calc(1% * 69) !important;
}
/* line 138, ../sass/screen.scss */
body .h69p {
  height: calc(1% * 69) !important;
}
/* line 135, ../sass/screen.scss */
body .w70p {
  width: calc(1% * 70) !important;
}
/* line 138, ../sass/screen.scss */
body .h70p {
  height: calc(1% * 70) !important;
}
/* line 135, ../sass/screen.scss */
body .w71p {
  width: calc(1% * 71) !important;
}
/* line 138, ../sass/screen.scss */
body .h71p {
  height: calc(1% * 71) !important;
}
/* line 135, ../sass/screen.scss */
body .w72p {
  width: calc(1% * 72) !important;
}
/* line 138, ../sass/screen.scss */
body .h72p {
  height: calc(1% * 72) !important;
}
/* line 135, ../sass/screen.scss */
body .w73p {
  width: calc(1% * 73) !important;
}
/* line 138, ../sass/screen.scss */
body .h73p {
  height: calc(1% * 73) !important;
}
/* line 135, ../sass/screen.scss */
body .w74p {
  width: calc(1% * 74) !important;
}
/* line 138, ../sass/screen.scss */
body .h74p {
  height: calc(1% * 74) !important;
}
/* line 135, ../sass/screen.scss */
body .w75p {
  width: calc(1% * 75) !important;
}
/* line 138, ../sass/screen.scss */
body .h75p {
  height: calc(1% * 75) !important;
}
/* line 135, ../sass/screen.scss */
body .w76p {
  width: calc(1% * 76) !important;
}
/* line 138, ../sass/screen.scss */
body .h76p {
  height: calc(1% * 76) !important;
}
/* line 135, ../sass/screen.scss */
body .w77p {
  width: calc(1% * 77) !important;
}
/* line 138, ../sass/screen.scss */
body .h77p {
  height: calc(1% * 77) !important;
}
/* line 135, ../sass/screen.scss */
body .w78p {
  width: calc(1% * 78) !important;
}
/* line 138, ../sass/screen.scss */
body .h78p {
  height: calc(1% * 78) !important;
}
/* line 135, ../sass/screen.scss */
body .w79p {
  width: calc(1% * 79) !important;
}
/* line 138, ../sass/screen.scss */
body .h79p {
  height: calc(1% * 79) !important;
}
/* line 135, ../sass/screen.scss */
body .w80p {
  width: calc(1% * 80) !important;
}
/* line 138, ../sass/screen.scss */
body .h80p {
  height: calc(1% * 80) !important;
}
/* line 135, ../sass/screen.scss */
body .w81p {
  width: calc(1% * 81) !important;
}
/* line 138, ../sass/screen.scss */
body .h81p {
  height: calc(1% * 81) !important;
}
/* line 135, ../sass/screen.scss */
body .w82p {
  width: calc(1% * 82) !important;
}
/* line 138, ../sass/screen.scss */
body .h82p {
  height: calc(1% * 82) !important;
}
/* line 135, ../sass/screen.scss */
body .w83p {
  width: calc(1% * 83) !important;
}
/* line 138, ../sass/screen.scss */
body .h83p {
  height: calc(1% * 83) !important;
}
/* line 135, ../sass/screen.scss */
body .w84p {
  width: calc(1% * 84) !important;
}
/* line 138, ../sass/screen.scss */
body .h84p {
  height: calc(1% * 84) !important;
}
/* line 135, ../sass/screen.scss */
body .w85p {
  width: calc(1% * 85) !important;
}
/* line 138, ../sass/screen.scss */
body .h85p {
  height: calc(1% * 85) !important;
}
/* line 135, ../sass/screen.scss */
body .w86p {
  width: calc(1% * 86) !important;
}
/* line 138, ../sass/screen.scss */
body .h86p {
  height: calc(1% * 86) !important;
}
/* line 135, ../sass/screen.scss */
body .w87p {
  width: calc(1% * 87) !important;
}
/* line 138, ../sass/screen.scss */
body .h87p {
  height: calc(1% * 87) !important;
}
/* line 135, ../sass/screen.scss */
body .w88p {
  width: calc(1% * 88) !important;
}
/* line 138, ../sass/screen.scss */
body .h88p {
  height: calc(1% * 88) !important;
}
/* line 135, ../sass/screen.scss */
body .w89p {
  width: calc(1% * 89) !important;
}
/* line 138, ../sass/screen.scss */
body .h89p {
  height: calc(1% * 89) !important;
}
/* line 135, ../sass/screen.scss */
body .w90p {
  width: calc(1% * 90) !important;
}
/* line 138, ../sass/screen.scss */
body .h90p {
  height: calc(1% * 90) !important;
}
/* line 135, ../sass/screen.scss */
body .w91p {
  width: calc(1% * 91) !important;
}
/* line 138, ../sass/screen.scss */
body .h91p {
  height: calc(1% * 91) !important;
}
/* line 135, ../sass/screen.scss */
body .w92p {
  width: calc(1% * 92) !important;
}
/* line 138, ../sass/screen.scss */
body .h92p {
  height: calc(1% * 92) !important;
}
/* line 135, ../sass/screen.scss */
body .w93p {
  width: calc(1% * 93) !important;
}
/* line 138, ../sass/screen.scss */
body .h93p {
  height: calc(1% * 93) !important;
}
/* line 135, ../sass/screen.scss */
body .w94p {
  width: calc(1% * 94) !important;
}
/* line 138, ../sass/screen.scss */
body .h94p {
  height: calc(1% * 94) !important;
}
/* line 135, ../sass/screen.scss */
body .w95p {
  width: calc(1% * 95) !important;
}
/* line 138, ../sass/screen.scss */
body .h95p {
  height: calc(1% * 95) !important;
}
/* line 135, ../sass/screen.scss */
body .w96p {
  width: calc(1% * 96) !important;
}
/* line 138, ../sass/screen.scss */
body .h96p {
  height: calc(1% * 96) !important;
}
/* line 135, ../sass/screen.scss */
body .w97p {
  width: calc(1% * 97) !important;
}
/* line 138, ../sass/screen.scss */
body .h97p {
  height: calc(1% * 97) !important;
}
/* line 135, ../sass/screen.scss */
body .w98p {
  width: calc(1% * 98) !important;
}
/* line 138, ../sass/screen.scss */
body .h98p {
  height: calc(1% * 98) !important;
}
/* line 135, ../sass/screen.scss */
body .w99p {
  width: calc(1% * 99) !important;
}
/* line 138, ../sass/screen.scss */
body .h99p {
  height: calc(1% * 99) !important;
}
/* line 135, ../sass/screen.scss */
body .w100p {
  width: calc(1% * 100) !important;
}
/* line 138, ../sass/screen.scss */
body .h100p {
  height: calc(1% * 100) !important;
}
/* line 143, ../sass/screen.scss */
body .w-auto {
  width: auto;
}
/* line 148, ../sass/screen.scss */
body .mb0e {
  margin-bottom: calc(1rem * 0) !important;
}
/* line 148, ../sass/screen.scss */
body .mb1e {
  margin-bottom: calc(1rem * 1) !important;
}
/* line 148, ../sass/screen.scss */
body .mb2e {
  margin-bottom: calc(1rem * 2) !important;
}
/* line 148, ../sass/screen.scss */
body .mb3e {
  margin-bottom: calc(1rem * 3) !important;
}
/* line 148, ../sass/screen.scss */
body .mb4e {
  margin-bottom: calc(1rem * 4) !important;
}
/* line 148, ../sass/screen.scss */
body .mb5e {
  margin-bottom: calc(1rem * 5) !important;
}
/* line 148, ../sass/screen.scss */
body .mb6e {
  margin-bottom: calc(1rem * 6) !important;
}
/* line 148, ../sass/screen.scss */
body .mb7e {
  margin-bottom: calc(1rem * 7) !important;
}
/* line 148, ../sass/screen.scss */
body .mb8e {
  margin-bottom: calc(1rem * 8) !important;
}
/* line 148, ../sass/screen.scss */
body .mb9e {
  margin-bottom: calc(1rem * 9) !important;
}
/* line 148, ../sass/screen.scss */
body .mb10e {
  margin-bottom: calc(1rem * 10) !important;
}
/* line 153, ../sass/screen.scss */
body .mb0 {
  margin-bottom: calc(1px * 0) !important;
}
/* line 153, ../sass/screen.scss */
body .mb5 {
  margin-bottom: calc(1px * 5) !important;
}
/* line 153, ../sass/screen.scss */
body .mb10 {
  margin-bottom: calc(1px * 10) !important;
}
/* line 153, ../sass/screen.scss */
body .mb15 {
  margin-bottom: calc(1px * 15) !important;
}
/* line 153, ../sass/screen.scss */
body .mb20 {
  margin-bottom: calc(1px * 20) !important;
}
/* line 153, ../sass/screen.scss */
body .mb25 {
  margin-bottom: calc(1px * 25) !important;
}
/* line 153, ../sass/screen.scss */
body .mb30 {
  margin-bottom: calc(1px * 30) !important;
}
/* line 153, ../sass/screen.scss */
body .mb35 {
  margin-bottom: calc(1px * 35) !important;
}
/* line 153, ../sass/screen.scss */
body .mb40 {
  margin-bottom: calc(1px * 40) !important;
}
/* line 153, ../sass/screen.scss */
body .mb45 {
  margin-bottom: calc(1px * 45) !important;
}
/* line 153, ../sass/screen.scss */
body .mb50 {
  margin-bottom: calc(1px * 50) !important;
}
/* line 153, ../sass/screen.scss */
body .mb55 {
  margin-bottom: calc(1px * 55) !important;
}
/* line 153, ../sass/screen.scss */
body .mb60 {
  margin-bottom: calc(1px * 60) !important;
}
/* line 153, ../sass/screen.scss */
body .mb65 {
  margin-bottom: calc(1px * 65) !important;
}
/* line 153, ../sass/screen.scss */
body .mb70 {
  margin-bottom: calc(1px * 70) !important;
}
/* line 153, ../sass/screen.scss */
body .mb75 {
  margin-bottom: calc(1px * 75) !important;
}
/* line 153, ../sass/screen.scss */
body .mb80 {
  margin-bottom: calc(1px * 80) !important;
}
/* line 153, ../sass/screen.scss */
body .mb85 {
  margin-bottom: calc(1px * 85) !important;
}
/* line 153, ../sass/screen.scss */
body .mb90 {
  margin-bottom: calc(1px * 90) !important;
}
/* line 153, ../sass/screen.scss */
body .mb95 {
  margin-bottom: calc(1px * 95) !important;
}
/* line 153, ../sass/screen.scss */
body .mb100 {
  margin-bottom: calc(1px * 100) !important;
}
/* line 153, ../sass/screen.scss */
body .mb105 {
  margin-bottom: calc(1px * 105) !important;
}
/* line 153, ../sass/screen.scss */
body .mb110 {
  margin-bottom: calc(1px * 110) !important;
}
/* line 153, ../sass/screen.scss */
body .mb115 {
  margin-bottom: calc(1px * 115) !important;
}
/* line 153, ../sass/screen.scss */
body .mb120 {
  margin-bottom: calc(1px * 120) !important;
}
/* line 153, ../sass/screen.scss */
body .mb125 {
  margin-bottom: calc(1px * 125) !important;
}
/* line 153, ../sass/screen.scss */
body .mb130 {
  margin-bottom: calc(1px * 130) !important;
}
/* line 153, ../sass/screen.scss */
body .mb135 {
  margin-bottom: calc(1px * 135) !important;
}
/* line 153, ../sass/screen.scss */
body .mb140 {
  margin-bottom: calc(1px * 140) !important;
}
/* line 153, ../sass/screen.scss */
body .mb145 {
  margin-bottom: calc(1px * 145) !important;
}
/* line 153, ../sass/screen.scss */
body .mb150 {
  margin-bottom: calc(1px * 150) !important;
}
/* line 153, ../sass/screen.scss */
body .mb155 {
  margin-bottom: calc(1px * 155) !important;
}
/* line 153, ../sass/screen.scss */
body .mb160 {
  margin-bottom: calc(1px * 160) !important;
}
/* line 153, ../sass/screen.scss */
body .mb165 {
  margin-bottom: calc(1px * 165) !important;
}
/* line 153, ../sass/screen.scss */
body .mb170 {
  margin-bottom: calc(1px * 170) !important;
}
/* line 153, ../sass/screen.scss */
body .mb175 {
  margin-bottom: calc(1px * 175) !important;
}
/* line 153, ../sass/screen.scss */
body .mb180 {
  margin-bottom: calc(1px * 180) !important;
}
/* line 153, ../sass/screen.scss */
body .mb185 {
  margin-bottom: calc(1px * 185) !important;
}
/* line 153, ../sass/screen.scss */
body .mb190 {
  margin-bottom: calc(1px * 190) !important;
}
/* line 153, ../sass/screen.scss */
body .mb195 {
  margin-bottom: calc(1px * 195) !important;
}
/* line 153, ../sass/screen.scss */
body .mb200 {
  margin-bottom: calc(1px * 200) !important;
}
/* line 153, ../sass/screen.scss */
body .mb205 {
  margin-bottom: calc(1px * 205) !important;
}
/* line 153, ../sass/screen.scss */
body .mb210 {
  margin-bottom: calc(1px * 210) !important;
}
/* line 153, ../sass/screen.scss */
body .mb215 {
  margin-bottom: calc(1px * 215) !important;
}
/* line 153, ../sass/screen.scss */
body .mb220 {
  margin-bottom: calc(1px * 220) !important;
}
/* line 153, ../sass/screen.scss */
body .mb225 {
  margin-bottom: calc(1px * 225) !important;
}
/* line 153, ../sass/screen.scss */
body .mb230 {
  margin-bottom: calc(1px * 230) !important;
}
/* line 153, ../sass/screen.scss */
body .mb235 {
  margin-bottom: calc(1px * 235) !important;
}
/* line 153, ../sass/screen.scss */
body .mb240 {
  margin-bottom: calc(1px * 240) !important;
}
/* line 153, ../sass/screen.scss */
body .mb245 {
  margin-bottom: calc(1px * 245) !important;
}
/* line 153, ../sass/screen.scss */
body .mb250 {
  margin-bottom: calc(1px * 250) !important;
}
/* line 153, ../sass/screen.scss */
body .mb255 {
  margin-bottom: calc(1px * 255) !important;
}
/* line 153, ../sass/screen.scss */
body .mb260 {
  margin-bottom: calc(1px * 260) !important;
}
/* line 153, ../sass/screen.scss */
body .mb265 {
  margin-bottom: calc(1px * 265) !important;
}
/* line 153, ../sass/screen.scss */
body .mb270 {
  margin-bottom: calc(1px * 270) !important;
}
/* line 153, ../sass/screen.scss */
body .mb275 {
  margin-bottom: calc(1px * 275) !important;
}
/* line 153, ../sass/screen.scss */
body .mb280 {
  margin-bottom: calc(1px * 280) !important;
}
/* line 153, ../sass/screen.scss */
body .mb285 {
  margin-bottom: calc(1px * 285) !important;
}
/* line 153, ../sass/screen.scss */
body .mb290 {
  margin-bottom: calc(1px * 290) !important;
}
/* line 153, ../sass/screen.scss */
body .mb295 {
  margin-bottom: calc(1px * 295) !important;
}
/* line 153, ../sass/screen.scss */
body .mb300 {
  margin-bottom: calc(1px * 300) !important;
}
/* line 153, ../sass/screen.scss */
body .mb305 {
  margin-bottom: calc(1px * 305) !important;
}
/* line 153, ../sass/screen.scss */
body .mb310 {
  margin-bottom: calc(1px * 310) !important;
}
/* line 153, ../sass/screen.scss */
body .mb315 {
  margin-bottom: calc(1px * 315) !important;
}
/* line 153, ../sass/screen.scss */
body .mb320 {
  margin-bottom: calc(1px * 320) !important;
}
/* line 153, ../sass/screen.scss */
body .mb325 {
  margin-bottom: calc(1px * 325) !important;
}
/* line 153, ../sass/screen.scss */
body .mb330 {
  margin-bottom: calc(1px * 330) !important;
}
/* line 153, ../sass/screen.scss */
body .mb335 {
  margin-bottom: calc(1px * 335) !important;
}
/* line 153, ../sass/screen.scss */
body .mb340 {
  margin-bottom: calc(1px * 340) !important;
}
/* line 153, ../sass/screen.scss */
body .mb345 {
  margin-bottom: calc(1px * 345) !important;
}
/* line 153, ../sass/screen.scss */
body .mb350 {
  margin-bottom: calc(1px * 350) !important;
}
/* line 153, ../sass/screen.scss */
body .mb355 {
  margin-bottom: calc(1px * 355) !important;
}
/* line 153, ../sass/screen.scss */
body .mb360 {
  margin-bottom: calc(1px * 360) !important;
}
/* line 153, ../sass/screen.scss */
body .mb365 {
  margin-bottom: calc(1px * 365) !important;
}
/* line 153, ../sass/screen.scss */
body .mb370 {
  margin-bottom: calc(1px * 370) !important;
}
/* line 153, ../sass/screen.scss */
body .mb375 {
  margin-bottom: calc(1px * 375) !important;
}
/* line 153, ../sass/screen.scss */
body .mb380 {
  margin-bottom: calc(1px * 380) !important;
}
/* line 153, ../sass/screen.scss */
body .mb385 {
  margin-bottom: calc(1px * 385) !important;
}
/* line 153, ../sass/screen.scss */
body .mb390 {
  margin-bottom: calc(1px * 390) !important;
}
/* line 153, ../sass/screen.scss */
body .mb395 {
  margin-bottom: calc(1px * 395) !important;
}
/* line 153, ../sass/screen.scss */
body .mb400 {
  margin-bottom: calc(1px * 400) !important;
}
/* line 153, ../sass/screen.scss */
body .mb405 {
  margin-bottom: calc(1px * 405) !important;
}
/* line 153, ../sass/screen.scss */
body .mb410 {
  margin-bottom: calc(1px * 410) !important;
}
/* line 153, ../sass/screen.scss */
body .mb415 {
  margin-bottom: calc(1px * 415) !important;
}
/* line 153, ../sass/screen.scss */
body .mb420 {
  margin-bottom: calc(1px * 420) !important;
}
/* line 153, ../sass/screen.scss */
body .mb425 {
  margin-bottom: calc(1px * 425) !important;
}
/* line 153, ../sass/screen.scss */
body .mb430 {
  margin-bottom: calc(1px * 430) !important;
}
/* line 153, ../sass/screen.scss */
body .mb435 {
  margin-bottom: calc(1px * 435) !important;
}
/* line 153, ../sass/screen.scss */
body .mb440 {
  margin-bottom: calc(1px * 440) !important;
}
/* line 153, ../sass/screen.scss */
body .mb445 {
  margin-bottom: calc(1px * 445) !important;
}
/* line 153, ../sass/screen.scss */
body .mb450 {
  margin-bottom: calc(1px * 450) !important;
}
/* line 153, ../sass/screen.scss */
body .mb455 {
  margin-bottom: calc(1px * 455) !important;
}
/* line 153, ../sass/screen.scss */
body .mb460 {
  margin-bottom: calc(1px * 460) !important;
}
/* line 153, ../sass/screen.scss */
body .mb465 {
  margin-bottom: calc(1px * 465) !important;
}
/* line 153, ../sass/screen.scss */
body .mb470 {
  margin-bottom: calc(1px * 470) !important;
}
/* line 153, ../sass/screen.scss */
body .mb475 {
  margin-bottom: calc(1px * 475) !important;
}
/* line 153, ../sass/screen.scss */
body .mb480 {
  margin-bottom: calc(1px * 480) !important;
}
/* line 153, ../sass/screen.scss */
body .mb485 {
  margin-bottom: calc(1px * 485) !important;
}
/* line 153, ../sass/screen.scss */
body .mb490 {
  margin-bottom: calc(1px * 490) !important;
}
/* line 153, ../sass/screen.scss */
body .mb495 {
  margin-bottom: calc(1px * 495) !important;
}
/* line 153, ../sass/screen.scss */
body .mb500 {
  margin-bottom: calc(1px * 500) !important;
}
/* line 158, ../sass/screen.scss */
body .ml0 {
  margin-left: calc(1px * 0) !important;
}
/* line 158, ../sass/screen.scss */
body .ml5 {
  margin-left: calc(1px * 5) !important;
}
/* line 158, ../sass/screen.scss */
body .ml10 {
  margin-left: calc(1px * 10) !important;
}
/* line 158, ../sass/screen.scss */
body .ml15 {
  margin-left: calc(1px * 15) !important;
}
/* line 158, ../sass/screen.scss */
body .ml20 {
  margin-left: calc(1px * 20) !important;
}
/* line 158, ../sass/screen.scss */
body .ml25 {
  margin-left: calc(1px * 25) !important;
}
/* line 158, ../sass/screen.scss */
body .ml30 {
  margin-left: calc(1px * 30) !important;
}
/* line 158, ../sass/screen.scss */
body .ml35 {
  margin-left: calc(1px * 35) !important;
}
/* line 158, ../sass/screen.scss */
body .ml40 {
  margin-left: calc(1px * 40) !important;
}
/* line 158, ../sass/screen.scss */
body .ml45 {
  margin-left: calc(1px * 45) !important;
}
/* line 158, ../sass/screen.scss */
body .ml50 {
  margin-left: calc(1px * 50) !important;
}
/* line 158, ../sass/screen.scss */
body .ml55 {
  margin-left: calc(1px * 55) !important;
}
/* line 158, ../sass/screen.scss */
body .ml60 {
  margin-left: calc(1px * 60) !important;
}
/* line 158, ../sass/screen.scss */
body .ml65 {
  margin-left: calc(1px * 65) !important;
}
/* line 158, ../sass/screen.scss */
body .ml70 {
  margin-left: calc(1px * 70) !important;
}
/* line 158, ../sass/screen.scss */
body .ml75 {
  margin-left: calc(1px * 75) !important;
}
/* line 158, ../sass/screen.scss */
body .ml80 {
  margin-left: calc(1px * 80) !important;
}
/* line 158, ../sass/screen.scss */
body .ml85 {
  margin-left: calc(1px * 85) !important;
}
/* line 158, ../sass/screen.scss */
body .ml90 {
  margin-left: calc(1px * 90) !important;
}
/* line 158, ../sass/screen.scss */
body .ml95 {
  margin-left: calc(1px * 95) !important;
}
/* line 158, ../sass/screen.scss */
body .ml100 {
  margin-left: calc(1px * 100) !important;
}
/* line 158, ../sass/screen.scss */
body .ml105 {
  margin-left: calc(1px * 105) !important;
}
/* line 158, ../sass/screen.scss */
body .ml110 {
  margin-left: calc(1px * 110) !important;
}
/* line 158, ../sass/screen.scss */
body .ml115 {
  margin-left: calc(1px * 115) !important;
}
/* line 158, ../sass/screen.scss */
body .ml120 {
  margin-left: calc(1px * 120) !important;
}
/* line 158, ../sass/screen.scss */
body .ml125 {
  margin-left: calc(1px * 125) !important;
}
/* line 158, ../sass/screen.scss */
body .ml130 {
  margin-left: calc(1px * 130) !important;
}
/* line 158, ../sass/screen.scss */
body .ml135 {
  margin-left: calc(1px * 135) !important;
}
/* line 158, ../sass/screen.scss */
body .ml140 {
  margin-left: calc(1px * 140) !important;
}
/* line 158, ../sass/screen.scss */
body .ml145 {
  margin-left: calc(1px * 145) !important;
}
/* line 158, ../sass/screen.scss */
body .ml150 {
  margin-left: calc(1px * 150) !important;
}
/* line 158, ../sass/screen.scss */
body .ml155 {
  margin-left: calc(1px * 155) !important;
}
/* line 158, ../sass/screen.scss */
body .ml160 {
  margin-left: calc(1px * 160) !important;
}
/* line 158, ../sass/screen.scss */
body .ml165 {
  margin-left: calc(1px * 165) !important;
}
/* line 158, ../sass/screen.scss */
body .ml170 {
  margin-left: calc(1px * 170) !important;
}
/* line 158, ../sass/screen.scss */
body .ml175 {
  margin-left: calc(1px * 175) !important;
}
/* line 158, ../sass/screen.scss */
body .ml180 {
  margin-left: calc(1px * 180) !important;
}
/* line 158, ../sass/screen.scss */
body .ml185 {
  margin-left: calc(1px * 185) !important;
}
/* line 158, ../sass/screen.scss */
body .ml190 {
  margin-left: calc(1px * 190) !important;
}
/* line 158, ../sass/screen.scss */
body .ml195 {
  margin-left: calc(1px * 195) !important;
}
/* line 158, ../sass/screen.scss */
body .ml200 {
  margin-left: calc(1px * 200) !important;
}
/* line 158, ../sass/screen.scss */
body .ml205 {
  margin-left: calc(1px * 205) !important;
}
/* line 158, ../sass/screen.scss */
body .ml210 {
  margin-left: calc(1px * 210) !important;
}
/* line 158, ../sass/screen.scss */
body .ml215 {
  margin-left: calc(1px * 215) !important;
}
/* line 158, ../sass/screen.scss */
body .ml220 {
  margin-left: calc(1px * 220) !important;
}
/* line 158, ../sass/screen.scss */
body .ml225 {
  margin-left: calc(1px * 225) !important;
}
/* line 158, ../sass/screen.scss */
body .ml230 {
  margin-left: calc(1px * 230) !important;
}
/* line 158, ../sass/screen.scss */
body .ml235 {
  margin-left: calc(1px * 235) !important;
}
/* line 158, ../sass/screen.scss */
body .ml240 {
  margin-left: calc(1px * 240) !important;
}
/* line 158, ../sass/screen.scss */
body .ml245 {
  margin-left: calc(1px * 245) !important;
}
/* line 158, ../sass/screen.scss */
body .ml250 {
  margin-left: calc(1px * 250) !important;
}
/* line 158, ../sass/screen.scss */
body .ml255 {
  margin-left: calc(1px * 255) !important;
}
/* line 158, ../sass/screen.scss */
body .ml260 {
  margin-left: calc(1px * 260) !important;
}
/* line 158, ../sass/screen.scss */
body .ml265 {
  margin-left: calc(1px * 265) !important;
}
/* line 158, ../sass/screen.scss */
body .ml270 {
  margin-left: calc(1px * 270) !important;
}
/* line 158, ../sass/screen.scss */
body .ml275 {
  margin-left: calc(1px * 275) !important;
}
/* line 158, ../sass/screen.scss */
body .ml280 {
  margin-left: calc(1px * 280) !important;
}
/* line 158, ../sass/screen.scss */
body .ml285 {
  margin-left: calc(1px * 285) !important;
}
/* line 158, ../sass/screen.scss */
body .ml290 {
  margin-left: calc(1px * 290) !important;
}
/* line 158, ../sass/screen.scss */
body .ml295 {
  margin-left: calc(1px * 295) !important;
}
/* line 158, ../sass/screen.scss */
body .ml300 {
  margin-left: calc(1px * 300) !important;
}
/* line 158, ../sass/screen.scss */
body .ml305 {
  margin-left: calc(1px * 305) !important;
}
/* line 158, ../sass/screen.scss */
body .ml310 {
  margin-left: calc(1px * 310) !important;
}
/* line 158, ../sass/screen.scss */
body .ml315 {
  margin-left: calc(1px * 315) !important;
}
/* line 158, ../sass/screen.scss */
body .ml320 {
  margin-left: calc(1px * 320) !important;
}
/* line 158, ../sass/screen.scss */
body .ml325 {
  margin-left: calc(1px * 325) !important;
}
/* line 158, ../sass/screen.scss */
body .ml330 {
  margin-left: calc(1px * 330) !important;
}
/* line 158, ../sass/screen.scss */
body .ml335 {
  margin-left: calc(1px * 335) !important;
}
/* line 158, ../sass/screen.scss */
body .ml340 {
  margin-left: calc(1px * 340) !important;
}
/* line 158, ../sass/screen.scss */
body .ml345 {
  margin-left: calc(1px * 345) !important;
}
/* line 158, ../sass/screen.scss */
body .ml350 {
  margin-left: calc(1px * 350) !important;
}
/* line 158, ../sass/screen.scss */
body .ml355 {
  margin-left: calc(1px * 355) !important;
}
/* line 158, ../sass/screen.scss */
body .ml360 {
  margin-left: calc(1px * 360) !important;
}
/* line 158, ../sass/screen.scss */
body .ml365 {
  margin-left: calc(1px * 365) !important;
}
/* line 158, ../sass/screen.scss */
body .ml370 {
  margin-left: calc(1px * 370) !important;
}
/* line 158, ../sass/screen.scss */
body .ml375 {
  margin-left: calc(1px * 375) !important;
}
/* line 158, ../sass/screen.scss */
body .ml380 {
  margin-left: calc(1px * 380) !important;
}
/* line 158, ../sass/screen.scss */
body .ml385 {
  margin-left: calc(1px * 385) !important;
}
/* line 158, ../sass/screen.scss */
body .ml390 {
  margin-left: calc(1px * 390) !important;
}
/* line 158, ../sass/screen.scss */
body .ml395 {
  margin-left: calc(1px * 395) !important;
}
/* line 158, ../sass/screen.scss */
body .ml400 {
  margin-left: calc(1px * 400) !important;
}
/* line 158, ../sass/screen.scss */
body .ml405 {
  margin-left: calc(1px * 405) !important;
}
/* line 158, ../sass/screen.scss */
body .ml410 {
  margin-left: calc(1px * 410) !important;
}
/* line 158, ../sass/screen.scss */
body .ml415 {
  margin-left: calc(1px * 415) !important;
}
/* line 158, ../sass/screen.scss */
body .ml420 {
  margin-left: calc(1px * 420) !important;
}
/* line 158, ../sass/screen.scss */
body .ml425 {
  margin-left: calc(1px * 425) !important;
}
/* line 158, ../sass/screen.scss */
body .ml430 {
  margin-left: calc(1px * 430) !important;
}
/* line 158, ../sass/screen.scss */
body .ml435 {
  margin-left: calc(1px * 435) !important;
}
/* line 158, ../sass/screen.scss */
body .ml440 {
  margin-left: calc(1px * 440) !important;
}
/* line 158, ../sass/screen.scss */
body .ml445 {
  margin-left: calc(1px * 445) !important;
}
/* line 158, ../sass/screen.scss */
body .ml450 {
  margin-left: calc(1px * 450) !important;
}
/* line 158, ../sass/screen.scss */
body .ml455 {
  margin-left: calc(1px * 455) !important;
}
/* line 158, ../sass/screen.scss */
body .ml460 {
  margin-left: calc(1px * 460) !important;
}
/* line 158, ../sass/screen.scss */
body .ml465 {
  margin-left: calc(1px * 465) !important;
}
/* line 158, ../sass/screen.scss */
body .ml470 {
  margin-left: calc(1px * 470) !important;
}
/* line 158, ../sass/screen.scss */
body .ml475 {
  margin-left: calc(1px * 475) !important;
}
/* line 158, ../sass/screen.scss */
body .ml480 {
  margin-left: calc(1px * 480) !important;
}
/* line 158, ../sass/screen.scss */
body .ml485 {
  margin-left: calc(1px * 485) !important;
}
/* line 158, ../sass/screen.scss */
body .ml490 {
  margin-left: calc(1px * 490) !important;
}
/* line 158, ../sass/screen.scss */
body .ml495 {
  margin-left: calc(1px * 495) !important;
}
/* line 158, ../sass/screen.scss */
body .ml500 {
  margin-left: calc(1px * 500) !important;
}
/* line 163, ../sass/screen.scss */
body .mt0 {
  margin-top: 0;
}
/* line 166, ../sass/screen.scss */
body .mt1e {
  margin-top: 1rem;
}
/* line 169, ../sass/screen.scss */
body .mt2e {
  margin-top: 2rem;
}
/* line 172, ../sass/screen.scss */
body .mt3e {
  margin-top: 3rem;
}
/* line 175, ../sass/screen.scss */
body .mt25p {
  margin-top: 25%;
}
/* line 178, ../sass/screen.scss */
body .mt30p {
  margin-top: 30%;
}
/* line 181, ../sass/screen.scss */
body .mt-30p {
  margin-top: -30%;
}
/* line 185, ../sass/screen.scss */
body .ml1e {
  margin-left: 1rem;
}
/* line 188, ../sass/screen.scss */
body .mr1e {
  margin-right: 1rem;
}
/* line 192, ../sass/screen.scss */
body .ml-auto {
  margin-left: auto;
}
/* line 196, ../sass/screen.scss */
body .mgl-a {
  margin-left: auto;
}
/* line 200, ../sass/screen.scss */
body .pl1e {
  padding-left: 1rem;
}
/* line 203, ../sass/screen.scss */
body .pl2e {
  padding-left: 2rem;
}
/* line 207, ../sass/screen.scss */
body .pt1e {
  padding-top: 1rem;
}
/* line 211, ../sass/screen.scss */
body .pb1e {
  padding-bottom: 1rem;
}
/* line 215, ../sass/screen.scss */
body .align-center {
  text-align: center;
}
/* line 219, ../sass/screen.scss */
body .align-left {
  text-align: left;
}
/* line 223, ../sass/screen.scss */
body .align-right {
  text-align: right;
}
/* line 227, ../sass/screen.scss */
body .alignnone, body .aligncenter, body .alignleft, body .alignright, body .alignwide {
  margin: 0 auto;
}
/* line 231, ../sass/screen.scss */
body .bg-yellow {
  background: #FFFF99;
}
/* line 235, ../sass/screen.scss */
body .form-item {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
}
/* line 240, ../sass/screen.scss */
body .form-item .item {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
}
/* line 245, ../sass/screen.scss */
body .form-item .inline-item {
  display: inline-block;
}
/* line 249, ../sass/screen.scss */
body .btn-wrap {
  margin: 1em 0;
}
/* line 253, ../sass/screen.scss */
body .text-s {
  font-size: 60%;
  color: #666666;
}
/* line 257, ../sass/screen.scss */
body .text-l {
  font-size: 26px;
}
/* line 261, ../sass/screen.scss */
body img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
/* line 267, ../sass/screen.scss */
body datalist {
  max-height: 10em;
  overflow: scroll;
}
/* line 272, ../sass/screen.scss */
body .nav,
body #master-fields,
body #search-fields {
  max-width: 98vw;
  padding: 1em;
  margin-bottom: 1.5em;
  border-radius: 12px;
  background: #fbfbfb;
  box-shadow: -8px -8px 15px #f7f7f7, 8px 8px 15px #ddd;
}
/* line 281, ../sass/screen.scss */
body .nav p,
body #master-fields p,
body #search-fields p {
  margin-bottom: 1em;
  padding: .4em;
}
/* line 287, ../sass/screen.scss */
body .nav li {
  background: rgba(0, 0, 0, 0.5);
  border-radius: .4em;
}
/* line 290, ../sass/screen.scss */
body .nav li a {
  display: block;
  padding: 1em 1.4em;
  text-decoration: none;
  color: #fff;
}
/* line 299, ../sass/screen.scss */
body .row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
}
/* line 305, ../sass/screen.scss */
body .row-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 311, ../sass/screen.scss */
body .ai-center {
  align-items: center;
}
/* line 315, ../sass/screen.scss */
body .jc-center {
  justify-content: center;
}
/* line 319, ../sass/screen.scss */
body #container {
  margin-top: 5em;
  width: 100%;
}
/* line 325, ../sass/screen.scss */
body #container > div[id^='sec'] {
  width: 100%;
  display: none;
}
/* line 330, ../sass/screen.scss */
body #container .item h4 {
  background: #d4dee4;
  font-weight: bold;
  margin-bottom: 0.4em;
  padding: .4em;
}
/* line 337, ../sass/screen.scss */
body #container input[type='radio'], body #container input[type='checkbox'] {
  width: auto;
  margin: .4em .6em;
}
/* line 342, ../sass/screen.scss */
body #container input {
  width: 100%;
}
/* line 346, ../sass/screen.scss */
body #container select {
  padding: .3em;
}
/* line 350, ../sass/screen.scss */
body #container .search-input {
  width: 100%;
  border: 1px solid #ccc;
}
/* line 356, ../sass/screen.scss */
body #container h2 {
  padding: .4em 1em;
  background: #37D1BF;
  display: inline-block;
  margin-bottom: 1em;
  margin-left: -10px;
  color: #fff;
  font-size: 24px;
}
/* line 367, ../sass/screen.scss */
body #container .list-view-header {
  max-width: 98vw;
}
/* line 372, ../sass/screen.scss */
body #container .list-view h2 {
  word-wrap: nowrap;
}
/* line 377, ../sass/screen.scss */
body #container #updPatient {
  display: none;
}
/* line 380, ../sass/screen.scss */
body #container .scroll-view {
  overflow-x: scroll;
}
/* line 384, ../sass/screen.scss */
body #container #sec3-contents,
body #container #sec4-contents,
body #container #sec5-contents {
  overflow-y: scroll;
}
/* line 390, ../sass/screen.scss */
body #container fieldset {
  padding: .4em;
  border: 1px solid #CCC;
  margin-bottom: 1em;
}
/* line 396, ../sass/screen.scss */
body #container .confirm-style {
  width: 30%;
  height: auto;
  position: fixed;
  top: 38%;
  left: 50%;
  margin-left: -15%;
  padding: 2%;
  background: #efefef;
  display: none;
  z-index: 100;
}
/* line 408, ../sass/screen.scss */
body #container .confirm-style form {
  display: flex;
  width: 100%;
}
/* line 414, ../sass/screen.scss */
body #container .wait-bg {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
/* line 426, ../sass/screen.scss */
body #main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 1em 1em 0;
  background: #fff;
}
/* line 434, ../sass/screen.scss */
body #main-nav li {
  margin-right: 1em;
}
/* line 436, ../sass/screen.scss */
body #main-nav li.mgl-a {
  margin-right: 0;
}
/* line 439, ../sass/screen.scss */
body #main-nav li a {
  display: block;
  padding: .6em 1em;
  text-decoration: none;
  background: #fdf7f7;
  color: #666;
  border-radius: 10px;
  box-shadow: -3px -3px 14px #f5f5f5, 3px 3px 13px #ece0e0;
  border: 3px solid #fdf7f7;
}
/* line 449, ../sass/screen.scss */
body #main-nav li a:hover {
  opacity: .7;
  border: 3px solid #d4dee4;
}
/* line 460, ../sass/screen.scss */
body .small-image {
  width: calc(20% - 20px);
  height: auto;
  margin: 10px;
}
/* line 466, ../sass/screen.scss */
body .big-image {
  width: calc(50% - 20px);
  height: auto;
  margin: 10px;
}
/* line 472, ../sass/screen.scss */
body .pdf-image {
  width: calc(100% - 20px);
  height: 600px;
  margin: 10px;
}
/* line 478, ../sass/screen.scss */
body #sec1-main {
  max-width: 100%;
}
/* line 482, ../sass/screen.scss */
body #sec1-img-list {
  max-width: 35%;
  margin-left: auto;
  position: fixed;
  right: 0;
  max-height: 90vh;
  overflow: scroll;
}
/* line 491, ../sass/screen.scss */
body #sec1-img-viewer,
body #img-viewer {
  position: fixed;
  width: 98vw;
  height: 98vh;
  top: 1vw;
  left: 1vh;
  pointer-events: none;
}
/* line 499, ../sass/screen.scss */
body #sec1-img-viewer img, body #sec1-img-viewer object,
body #img-viewer img,
body #img-viewer object {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/* line 504, ../sass/screen.scss */
body #sec1-img-viewer object,
body #img-viewer object {
  object-fit: contain;
}
/* line 509, ../sass/screen.scss */
body .item {
  padding: .4em;
}
/* line 511, ../sass/screen.scss */
body .item input:not([type='button'], [type='reset']) {
  width: 100%;
  display: block;
}
/* line 518, ../sass/screen.scss */
body button {
  padding: 1em 2em;
  color: #666;
  background-color: #FFDDDD;
  border-radius: 5px;
  border: none;
  margin-bottom: 1em;
  box-shadow: -3px -3px 13px #ffffff, 3px 3px 14px #cabbbb;
}
/* line 526, ../sass/screen.scss */
body button:hover {
  box-shadow: 3px 3px 10px #ffffff, -3px -3px 20px #cabbbb;
  background: #f9eaea;
}
/* line 532, ../sass/screen.scss */
body table {
  background: #fbfbfb;
  margin-bottom: 2em;
}
/* line 537, ../sass/screen.scss */
body table tr:hover td {
  background: rgba(1, 173, 202, 0.5);
}
/* line 541, ../sass/screen.scss */
body table tr th, body table tr td {
  white-space: nowrap;
}
/* line 547, ../sass/screen.scss */
body table.not-hover tr:hover td {
  background: none;
}
/* line 554, ../sass/screen.scss */
body .table tr {
  vertical-align: middle;
}
/* line 557, ../sass/screen.scss */
body .table th, body .table td {
  padding: .8em .4em;
  vertical-align: middle;
}
/* line 563, ../sass/screen.scss */
body .row.thead-style {
  flex-wrap: nowrap;
}
/* line 565, ../sass/screen.scss */
body .row.thead-style .item {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}
/* line 571, ../sass/screen.scss */
body .row.fw-nw {
  flex-wrap: nowrap;
}
/* line 575, ../sass/screen.scss */
body .onAdmin {
  display: none;
}
/* line 579, ../sass/screen.scss */
body .onView {
  display: table-cell;
}
/* line 582, ../sass/screen.scss */
body .offView {
  display: none;
}
/* line 585, ../sass/screen.scss */
body select {
  width: 100%;
}
/* line 589, ../sass/screen.scss */
body .field-label {
  width: 7em;
}
/* line 592, ../sass/screen.scss */
body .field-data {
  width: calc(100% - 10em);
}
/* line 596, ../sass/screen.scss */
body #addByoriForm,
body #addOpeForm,
body #addMedicalHistoryForm {
  display: none;
  position: fixed;
  left: 20%;
  width: 60%;
  margin: 0 0 30%;
  height: 85vh;
  overflow: scroll;
}
/* line 606, ../sass/screen.scss */
body #addByoriForm h3,
body #addOpeForm h3,
body #addMedicalHistoryForm h3 {
  font-size: 125%;
  margin-bottom: .4em;
}
/* line 610, ../sass/screen.scss */
body #addByoriForm form,
body #addOpeForm form,
body #addMedicalHistoryForm form {
  background: #fff;
  padding: 2%;
}
/* line 615, ../sass/screen.scss */
body .redBtn {
  background: #d8d8d8;
  border: none;
  color: #ab0000;
  padding: 2px;
}
/* line 621, ../sass/screen.scss */
body .greenBtn {
  border: 1px solid #ccc;
  padding: 2px;
  color: #4489c5;
}
/* line 626, ../sass/screen.scss */
body .btn-secondary {
  border: 3px solid #e8e8e8;
}
/* line 629, ../sass/screen.scss */
body .btn-info {
  border: 3px solid #e8e8e8;
}
